%p.lead
  To all supporters of arts and music education at
  %a{:href => 'http://www.orcsd.org'} Oyster River Cooperative School District
  in Durham, New Hampshire &mdash;
  %strong Welcome!
%p
  This site exists to provide information and advocate for the addition
  of a curricular string music program to the existing music curricula at
  Oyster River schools.  There is a
  = link_to 'petition', petition_path
  to gather and demonstrate community support to district administration
  and the school board.  You are encouraged to
  %strong= link_to 'sign the petition', new_petition_signature_path
  and join us in showing your support!  Thank-you!
%div.qanda
  %h2 Questions and Answers
  %p
    The following is a list of questions and answers to provide background and
    information on why and how to integrate string education at Oyster River.
    It is intended to provide a framework for potential conversation and not as
    a set of requirements.  How to develop and structure a string music
    curriculum at Oyster River is definitively within the realm of
    responsibility of our music department staff and district administration.
  %p
    These questions and answers are distilled from conversations with music
    educators throughout New Hampshire including Oyster River, Timberlane, and
    University of New Hampshire.  This section also draws heavily on a 2012
    proposal to incorporate curricular string instruction in the elementary
    school day created and presented by Oyster River elementary music teacher,
    Sarah Kuhn.
  %div.item
    %h3 Is there interest in instrumental music at Oyster River?
    %p
      Yes!  The band program at Oyster River is very strong.  The current rate
      of participation in the elective band program among 4th grade students is
      greater than 90%.  At the middle school, almost 40% of 7th and 8th grade
      students are members the elective band program.
  %div.item
    %h3 Isn't band enough?
    %p
      Offering only wind instruments fails to engage with students and parents
      who indicate a preference to play a string orchestra instrument.  As shown,
      most students do elect to participate in band &mdash; however some of
      those students would choose to learn a string instrument, if given the
      choice.
    %p
      Furthermore, many of the greatest works of western composers are music
      solely for orchestra.  The presence of a string orchestra program in
      the schools will expand all our students exposure to the great music
      of our culture.
  %div.item
    %h3 Why not include string instruments in band?
    %p
      Orchestra music and wind ensemble music is very different &mdash;
      especially music accessible to students new to an instrument.  Teaching
      methods, exercises, and rate of progression also vary considerably
      between wind and strings
    %p
      For example, standard practice in public music education is to start
      string instrument instruction in 3rd grade instead of 4th grade due to
      increased difficulty mastering the more complex motor skills involved.
  %div.item
    %h3 Why not an after-school program?
    %p
      While the existing, 6th grade and below, Oyster River Elementary
      Orchestra (OREO) program has seen great success these past few years,
      holding instrumental lessons outside the school day instantly makes
      the group elitist.  To participate, students require families whose
      work schedules and financial situation affords them the flexibility
      to drive their child to the program.  The public school system should
      provide all children equal opportunity.
  %div.item
    %h3 Will taking orchestra adversely impact academic performance?
    %p
      Research has shown participation in school music programs does not
      adversely impact academic performance.
    %p
      Currently, 4th grade students electing both band and chorus are pulled
      from their general classroom for lessons and rehearsal for approximately
      120 minutes per week.  Standard music education programs allow students
      to participate chorus and then choose band or orchestra, but not both.
      Therefore, offering orchestra will not alter the amount of time 4th
      grade music students are out of the general classroom.
    %p
      Currently, 3rd grade students may elect to participate in chorus.  If
      orchestra were to be available, the amount of time outside the general
      classroom could be increased to possibly 90 minutes per week following
      common practice.
    %p
      As asserted above, pullout music programs do not adversely affect student
      achievement when measured by standardized academic assessments.
      Supporting studies:
      %ul
        %li.citation
          %span.author Wallick, M. D.
          %span.date (1998).
          %span.title
            = succeed '.' do
              %a{:href => 'http://jrm.sagepub.com/content/46/2/239.abstract'}
                A comparison study of the Ohio Proficiency Test results
                between forth-grade string pullout students and those of matched
                ability
          %span.publication Journal of Research in Music Education, 46(2),
          %span.location pp. 239-247
        %li.citation
          %span.author Kvet, Edward J.
          %span.date (1985).
          %span.title
            = succeed '.' do
              %a{:href => 'http://jrm.sagepub.com/content/33/1/45.abstract'}
                Excusing Elementary School Students from Regular Classroom
                Activities for the Student of Instrumental Music: The Effect on
                Sixth-Grade Reading, Language and Mathematics Achievement
          %span.publication Journal of Research in Music Education, 33(1),
          %span.location pp. 45-54
        %li.citation
          %span.author Hash, Phillip M.
          %span.date (2011).
          %span.title
            = succeed '.' do
              %a{:href => 'http://upd.sagepub.com/content/30/1/16.abstract'}
                Effect of Pullout Lessons on the Academic Achievement of
                Eighth-Grade Band Students
          %span.publication Applications of Research in Music Education, 30(1),
          %span.location pp. 16-22

