!!!
%html
  %head
    %title Oyster River Strings
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = stylesheet_link_tag    "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv.js"
      = javascript_include_tag "respond.js"
    = csrf_meta_tags
  %body
    %div.container
      = render :partial => 'layouts/navbar'
      = yield
      = render :partial => 'layouts/footer'
    = javascript_include_tag "application"
